// Copyright (c) Sphere 10 Software. All rights reserved. (https://sphere10.com)
// Author: Hamish Rose
//
// Distributed under the MIT software license, see the accompanying file
// LICENSE or visit http://www.opensource.org/licenses/mit-license.php.
//
// This notice must not be removed when duplicating this file or its contents, in whole or in part.

@using System.Runtime.InteropServices
@using Hydrogen.DApp.Presentation.Plugins
@inherits Hydrogen.DApp.Presentation.Components.ComponentWithViewModel<BlockMenuViewModel>

<!-- Heading -->
<div class="sidebar-heading">
    @ViewModel!.SelectedApp?.Name
</div>

@foreach (IAppBlock block in ViewModel?.AppBlocks!) {
    <!-- Nav Item - Collapse Menu -->
    <li class="nav-item @NavItemClass(block.Name)">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-@block.Name"
           aria-expanded="true" aria-controls="#collapse-@block.Name">
            <i class="fas fa-fw @block.Icon"></i>
            <span>@block.Name</span>
        </a>
        <div id="collapse-@block.Name" class="@CollapseClass(block.Name)" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @foreach (IAppBlockPage blockPage in block.AppBlockPages) {
                    <NavLink class="collapse-item" href="@blockPage.Route" ActiveClass="active" Match="NavLinkMatch.All">
                        <i class="fas fa-sm fa-fw text-gray-400 mr-2 @blockPage.Icon"></i>
                        @blockPage.Name
                    </NavLink>
                }
            </div>
        </div>
    </li>
}

@code
{
    private string CollapseClass(string blockName) => ViewModel!.SelectedAppBlock?.Name == blockName ? "collapse show" : "collapse";

    private string NavItemClass(string blockName) => ViewModel!.SelectedAppBlock?.Name == blockName ? "nav-item active" : "nav-item";
}