@inherits ModalComponent<WizardModalViewModel>

<ModalTemplate OnCloseFunc="ViewModel!.RequestCloseAsync" Width="@Width" Height="@Height">
    <HeaderTemplate>
        <h6> @ViewModel.WizardHost?.ViewModel!.Title </h6>
    </HeaderTemplate>
    <BodyTemplate>
        <CascadingValue Value="@Wizard">
            <CascadingValue Name="OnFinished" Value="@OnFinished">
                <CascadingValue Name="OnCancelled" Value="@OnCancelled">
                    <CascadingValue Name="OnStepChange" Value="@OnStepChange">
                           <WizardHost @ref="@ViewModel.WizardHost"/>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </BodyTemplate>
</ModalTemplate>